<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>intro_title_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,150}}</string>
                <key>sourceSize</key>
                <string>{480,150}</string>
            </dict>
            <key>intro_title_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{480,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,150}}</string>
                <key>sourceSize</key>
                <string>{480,150}</string>
            </dict>
            <key>intro_title_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{480,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,150}}</string>
                <key>sourceSize</key>
                <string>{480,150}</string>
            </dict>
            <key>intro_title_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,154},{480,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,150}}</string>
                <key>sourceSize</key>
                <string>{480,150}</string>
            </dict>
            <key>intro_title_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{480,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,150}}</string>
                <key>sourceSize</key>
                <string>{480,150}</string>
            </dict>
            <key>intro_title_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,306},{480,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,150}}</string>
                <key>sourceSize</key>
                <string>{480,150}</string>
            </dict>
            <key>intro_title_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{480,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,150}}</string>
                <key>sourceSize</key>
                <string>{480,150}</string>
            </dict>
            <key>intro_title_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,458},{480,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,150}}</string>
                <key>sourceSize</key>
                <string>{480,150}</string>
            </dict>
            <key>intro_title_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,610},{480,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,150}}</string>
                <key>sourceSize</key>
                <string>{480,150}</string>
            </dict>
            <key>intro_title_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,610},{480,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,150}}</string>
                <key>sourceSize</key>
                <string>{480,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>intro_title.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:59065dec30733d956e5f0f450eb1dfb6$</string>
            <key>textureFileName</key>
            <string>intro_title.png</string>
        </dict>
    </dict>
</plist>
